# Polars å…¥é—¨

![Polars](https://raw.githubusercontent.com/pola-rs/polars-static/master/banner/polars_github_banner.svg)

`Polars` æ˜¯ä¸€ä¸ªç”¨äºæ•°æ®æ“ä½œçš„ Rust åº“ï¼Œå®ƒæä¾›äº†ç±»ä¼¼äº `Pandas` çš„ APIï¼Œä½†æ˜¯æ¯” `Pandas` `æ›´å¿«ã€‚Polars` ä¹Ÿæä¾›äº†å…¶ä»–è¿è¡Œæ—¶çš„åŒ…ï¼Œå¯ä»¥åœ¨ Python/NodeJS ä¸­ä½¿ç”¨ `Polars`ã€‚

åœ¨è¿™ä¸ªç¬”è®°æœ¬ä¸­ï¼Œæˆ‘ä»¬å°†ä¸»è¦å­¦ä¹ å¦‚ä½•åœ¨ Python ä¸­ä½¿ç”¨ `Polars`ã€‚NodeJS æ¥å£åŸºæœ¬ä¸€è‡´ï¼Œå¯ä»¥

## å®‰è£…

### Python (via PyPI)

```bash
pip install polars
```

### NodeJS (via npm)

```bash
npm install nodejs-polars
```

In [1]:
import polars as pl
import pandas as pd
import dataclasses

## 1. åˆå§‹åŒ–æ„é€ 

`Polars` æ„é€ å‡½æ•°çš„å…¥å‚ä¸­æˆ‘ä»¬éœ€è¦å…³æ³¨çš„ä¸€èˆ¬åªæœ‰ä¸¤ä¸ªï¼Œ`data` å’Œ `schema`ï¼Œå¯ä»¥ç†è§£ä¸º `Pandas` æ„é€ å‡½æ•°ä¸­çš„ `data` å’Œ `dtypes`ã€‚

å…¶ä¸­ `data` æ”¯æŒ `dict`, `Sequence`, `ndarray`, `Series`, or `pandas.DataFrame`ã€‚ä¸ `Pandas` ä¸åŒçš„æ˜¯ä¸æ”¯æŒä» `records`/`tuple` æ„å»ºçš„æ–¹å¼ã€‚

In [2]:
@dataclasses.dataclass
class Record:
    x: float 
    y: int 
    z: str 

pd.DataFrame([Record(x=0.1, y=1, z="hello"), Record(x=0.2, y=2, z="pandas")])

     x  y       z
0  0.1  1   hello
1  0.2  2  pandas

è¯¦ç»†çš„æ„é€ å‡½æ•°ç­¾åå¯ä»¥å‚è€ƒ `DataFrame.__init__`

In [3]:
print(pl.DataFrame.__doc__)

    Two-dimensional data structure representing data as a table with rows and columns.

    Parameters
    ----------
    data : dict, Sequence, ndarray, Series, or pandas.DataFrame
        Two-dimensional data in various forms; dict input must contain Sequences,
        Generators, or a `range`. Sequence may contain Series or other Sequences.
    schema : Sequence of str, (str,DataType) pairs, or a {str:DataType,} dict
        The schema of the resulting DataFrame. The schema may be declared in several
        ways:

        * As a dict of {name:type} pairs; if type is None, it will be auto-inferred.
        * As a list of column names; in this case types are automatically inferred.
        * As a list of (name,type) pairs; this is equivalent to the dictionary form.

        If you supply a list of column names that does not match the names in the
        underlying data, the names given here will overwrite them. The number
        of names given in the schema should match the underlying data dimensions.

        If set to `None` (default), the schema is inferred from the data.
    schema_overrides : dict, default None
        Support type specification or override of one or more columns; note that
        any dtypes inferred from the schema param will be overridden.

        The number of entries in the schema should match the underlying data
        dimensions, unless a sequence of dictionaries is being passed, in which case
        a *partial* schema can be declared to prevent specific fields from being loaded.
    strict : bool, default True
        Throw an error if any `data` value does not exactly match the given or inferred
        data type for that column. If set to `False`, values that do not match the data
        type are cast to that data type or, if casting is not possible, set to null
        instead.
    orient : {'col', 'row'}, default None
        Whether to interpret two-dimensional data as columns or as rows. If None,
        the orientation is inferred by matching the columns and data dimensions. If
        this does not yield conclusive results, column orientation is used.
    infer_schema_length : int or None
        The maximum number of rows to scan for schema inference. If set to `None`, the
        full data may be scanned *(this can be slow)*. This parameter only applies if
        the input data is a sequence or generator of rows; other input is read as-is.
    nan_to_null : bool, default False
        If the data comes from one or more numpy arrays, can optionally convert input
        data np.nan values to null instead. This is a no-op for all other input data.

    Notes
    -----
    Polars explicitly does not support subclassing of its core data types. See
    the following GitHub issue for possible workarounds:
    https://github.com/pola-rs/polars/issues/2846#issuecomment-1711799869

    Examples
    --------
    Constructing a DataFrame from a dictionary:

    >>> data = {"a": [1, 2], "b": [3, 4]}
    >>> df = pl.DataFrame(data)
    >>> df
    shape: (2, 2)
    â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”
    â”‚ a   â”† b   â”‚
    â”‚ --- â”† --- â”‚
    â”‚ i64 â”† i64 â”‚
    â•â•â•â•â•â•â•ªâ•â•â•â•â•â•¡
    â”‚ 1   â”† 3   â”‚
    â”‚ 2   â”† 4   â”‚
    â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”˜

    Notice that the dtypes are automatically inferred as polars Int64:

    >>> df.dtypes
    [Int64, Int64]

    To specify a more detailed/specific frame schema you can supply the `schema`
    parameter with a dictionary of (name,dtype) pairs...

    >>> data = {"col1": [0, 2], "col2": [3, 7]}
    >>> df2 = pl.DataFrame(data, schema={"col1": pl.Float32, "col2": pl.Int64})
    >>> df2
    shape: (2, 2)
    â”Œâ”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
    â”‚ col1 â”† col2 â”‚
    â”‚ ---  â”† ---  â”‚
    â”‚ f32  â”† i64  â”‚
    â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
    â”‚ 0.0  â”† 3    â”‚
    â”‚ 2.0  â”† 7    â”‚
    â””â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

    ...a sequence of (name,dtype) pairs...

    >>> data = {"col1": [1, 2], "col2": [3, 4]}
    >>> df3 = pl.DataFrame(data, schema=[("col1", pl.Float32), ("col2", pl.Int64)])
    >>> df3
    shape: (2, 2)
    â”Œâ”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
    â”‚ col1 â”† col2 â”‚
    â”‚ ---  â”† ---  â”‚
    â”‚ f32  â”† i64  â”‚
    â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
    â”‚ 1.0  â”† 3    â”‚
    â”‚ 2.0  â”† 4    â”‚
    â””â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

    ...or a list of typed Series.

    >>> data = [
    ...     pl.Series("col1", [1, 2], dtype=pl.Float32),
    ...     pl.Series("col2", [3, 4], dtype=pl.Int64),
    ... ]
    >>> df4 = pl.DataFrame(data)
    >>> df4
    shape: (2, 2)
    â”Œâ”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
    â”‚ col1 â”† col2 â”‚
    â”‚ ---  â”† ---  â”‚
    â”‚ f32  â”† i64  â”‚
    â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
    â”‚ 1.0  â”† 3    â”‚
    â”‚ 2.0  â”† 4    â”‚
    â””â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

    Constructing a DataFrame from a numpy ndarray, specifying column names:

    >>> import numpy as np
    >>> data = np.array([(1, 2), (3, 4)], dtype=np.int64)
    >>> df5 = pl.DataFrame(data, schema=["a", "b"], orient="col")
    >>> df5
    shape: (2, 2)
    â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”
    â”‚ a   â”† b   â”‚
    â”‚ --- â”† --- â”‚
    â”‚ i64 â”† i64 â”‚
    â•â•â•â•â•â•â•ªâ•â•â•â•â•â•¡
    â”‚ 1   â”† 3   â”‚
    â”‚ 2   â”† 4   â”‚
    â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”˜

    Constructing a DataFrame from a list of lists, row orientation specified:

    >>> data = [[1, 2, 3], [4, 5, 6]]
    >>> df6 = pl.DataFrame(data, schema=["a", "b", "c"], orient="row")
    >>> df6
    shape: (2, 3)
    â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”
    â”‚ a   â”† b   â”† c   â”‚
    â”‚ --- â”† --- â”† --- â”‚
    â”‚ i64 â”† i64 â”† i64 â”‚
    â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•¡
    â”‚ 1   â”† 2   â”† 3   â”‚
    â”‚ 4   â”† 5   â”† 6   â”‚
    â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”˜

In [4]:
# Simple
pl.DataFrame({
    "x": [1 , 2, 3],
    "y": None,
    "z": ["female", "male", "female"],
})

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ x   â”† y    â”† z      â”‚
â”‚ --- â”† ---  â”† ---    â”‚
â”‚ i64 â”† null â”† str    â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† null â”† female â”‚
â”‚ 2   â”† null â”† male   â”‚
â”‚ 3   â”† null â”† female â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

`schema` æ”¯æŒ `list[str]` / `list[tuple[str, pl.DataTypeClass]]` / `dict[str, pl.DataTypeClass]`ï¼Œä¸æ”¯æŒä» `str` æ„å»ºç±»å‹

> æŸäº›æƒ…å†µä¸‹æˆ‘ä»¬å¿…é¡»è¦ä» `str` æ„å»ºç±»å‹çš„è¯å¯ä»¥é‡‡ç”¨ `polars` æä¾›çš„å·¥å…·å‡½æ•° `pl.datatypes.convert.dtype_to_ffiname`ï¼Œå…·ä½“è§ [å·¥å…·å‡½æ•°](#PolarsUtils)

éœ€è¦æ³¨æ„çš„æ˜¯ `pl.Categorical` å’Œ `pl.Enum` è¿™ä¸¤ä¸ªç±»å‹ï¼Œç±»ä¼¼äº `pd.Categorical`ï¼Œè¿™ä¸¤ä¸ªç±»å‹éƒ½æ˜¯ä»£è¡¨åˆ†ç±»å˜é‡çš„ï¼Œä½†æ˜¯åŒºåˆ«åœ¨äº

1. `polars` å¼ºåˆ¶è¦æ±‚ `Categorical`/`Enum` ç±»å‹å…ˆæ˜¯å­—ç¬¦ä¸²ç±»å‹ï¼Œå¦åˆ™ `raise`
2. Categorical å’Œ Enum å­˜åœ¨åŒºåˆ«ï¼Œ`Categorical` åœ¨æ„å»ºæ—¶å¯ä»¥ä¸æŒ‡å®šåˆ†ç±»çº§åˆ«ï¼Œç„¶è€Œ Enum å¿…é¡»è¦æŒ‡å®š
3. Categorical æ”¯æŒé€šè¿‡å­—ç¬¦åº/å‡ºç°å…ˆåé¡ºåºæŒ‡å®šå¤§å°ï¼ŒEnum é€šè¿‡æŒ‡å®šçš„çº§åˆ«çš„ç´¢å¼•æŒ‡å®šå¤§å°

In [5]:
print("pl.Categorical")
print("================")
print(pl.Categorical.__doc__)

print("pl.Enum")
print("================")
print(pl.Enum.__doc__)

pl.Categorical
================

    A categorical encoding of a set of strings.

    Parameters
    ----------
    ordering : {'lexical', 'physical'}
        Ordering by order of appearance (`'physical'`, default)
        or string value (`'lexical'`).

pl.Enum
================

    A fixed set categorical encoding of a set of strings.

    .. warning::
        This functionality is considered **unstable**.
        It is a work-in-progress feature and may not always work as expected.
        It may be changed at any point without it being considered a breaking change.

    Parameters
    ----------
    categories
        The categories in the dataset. Categories must be strings.

In [6]:
pl.DataFrame(
  {
    "SEX": ["F", "M", "M", "F"],
    "ID": [1, 2, 2, 3],
    "WEIGHT": [70.2, 88.8, 49.3, 55],
    "GROUP": ["B", "A", "A", "B"],
  },
  {
    "SEX": pl.Categorical,
    "ID": pl.Int8,
    "WEIGHT": float,
    "GROUP": pl.Enum(["A", "B"]),
  }
)

shape: (4, 4)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ SEX â”† ID  â”† WEIGHT â”† GROUP â”‚
â”‚ --- â”† --- â”† ---    â”† ---   â”‚
â”‚ cat â”† i8  â”† f64    â”† enum  â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ F   â”† 1   â”† 70.2   â”† B     â”‚
â”‚ M   â”† 2   â”† 88.8   â”† A     â”‚
â”‚ M   â”† 2   â”† 49.3   â”† A     â”‚
â”‚ F   â”† 3   â”† 55.0   â”† B     â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

## æ•°æ®å¤„ç†

`polars` å’Œ `pandas` æœ€å¤§çš„åŒºåˆ«ï¼ˆæˆ–è€…è¯´æˆ‘æœ€å…³å¿ƒçš„å·®å¼‚ï¼‰æ˜¯ `polars` çš„æ‰€æœ‰æ•°æ®å¤„ç†éƒ½ä¼šè¿”å›ä¸€ä»½æ‹·è´ï¼Œè€Œ `pandas` ä¼šè¿”å›è§†å›¾ã€‚è¿™æ ·çš„è®¾è®¡ä½¿å¾— `polars` æ›´åŠ å®‰å…¨ï¼ŒåŒæ—¶ç”±äº Rust åŸç”Ÿçš„ Ownership æœºåˆ¶ï¼Œä½¿å¾— `polars` çš„æ€§èƒ½å¹¶ä¸ä¼šæ”¶åˆ°å¤ªå¤§å½±å“ã€‚åŒæ—¶è¿™æ ·çš„ç‰¹æ€§å¯ä»¥æœ‰æ•ˆçš„å¸®åŠ©å¼€å‘è€…é¿å…ä¸€äº›æ½œåœ¨çš„é”™è¯¯ï¼Œç‰¹åˆ«æ˜¯åœ¨ä¸€äº›å­˜åœ¨æ•°æ®å¤„ç†ï¼Œä½†æ˜¯å¹¶ä¸æƒ³å½±å“åŸæ•°æ®çš„æƒ…å†µä¸‹ï¼Œå¦‚å¤šçº¿ç¨‹ç¯å¢ƒï¼Œå‡½æ•°å¼ç¼–ç¨‹ï¼Œåº•å±‚ç®—æ³•ç­‰ã€‚

In [7]:
example = {
    "a": [1, 2, 3, 4, 5],
    "b": [5.5, 4.4, 3.3, 2.2, 1.1],
    "c": ["a", "b", "c", "d", "e"]
}
example_pl = pl.DataFrame(example)
example_pd = pd.DataFrame(example)

In [8]:
def some_func(df: pl.DataFrame | pd.DataFrame) -> None:
    df["a"] = 123

In [9]:
some_func(example_pd)
example_pd # Changedï¼å¾ˆå±é™©

     a    b  c
0  123  5.5  a
1  123  4.4  b
2  123  3.3  c
3  123  2.2  d
4  123  1.1  e

In [10]:
%%capture
# ä¼šæŠ¥é”™ï¼Œèµ ğŸ‘
some_func(example_pl)

TypeError: DataFrame object does not support `Series` assignment by index

Use `DataFrame.with_columns`.

ä½¿ç”¨ `polars` æ•°æ®å¤„ç†å’Œ R çš„ `dplyr` é£æ ¼å¾ˆç›¸ä¼¼ï¼Œå¯ä»¥é€šè¿‡ `DataFrame` çš„æ–¹æ³•é“¾å¼è°ƒç”¨ï¼Œæˆ–è€…é€šè¿‡ `pl` æ¨¡å—æä¾›çš„å‡½æ•°å¼ç¼–ç¨‹æ¥å£ã€‚å¤§éƒ¨åˆ†çš„æ–¹æ³•å’Œ SQL ä¸­çš„æ“ä½œæ˜¯ä¸€ä¸€å¯¹åº”çš„ï¼Œå¦‚ `select`, `filter`, `groupby`, `join`, `sort`, `agg`, `pivot`, `explode` ç­‰ç­‰ã€‚å…·ä½“çš„æ–¹æ³•å¯ä»¥å‚è€ƒ [Python API æ–‡æ¡£](https://docs.pola.rs/api/python/stable/reference/dataframe/modify_select.html) æˆ–è€… [NodeJS API æ–‡æ¡£](https://pola-rs.github.io/nodejs-polars/interfaces/pl.DataFrame-1.html)ã€‚æœ¬æ–‡æ¡£ä¼šä¸»è¦ä»‹ç»ä¸€äº›å¸¸ç”¨çš„æ–¹æ³•ã€‚

## <a id="PolarsUtils">å·¥å…·å‡½æ•°</a>

1. `pl.DataType` ä¸ `str` çš„äº’è½¬

`pl.DataType` ç”±äºæ˜¯ Rust å†…çš„æ•°æ®ç»“æ„ï¼Œå¦‚æœæˆ‘ä»¬éœ€è¦ä¸€ä¸ª Python å¯¹åº”çš„åºåˆ—åŒ–/ååºåˆ—åŒ–æ–¹å¼ï¼Œéœ€è¦å°†å…¶è½¬æˆå­—ç¬¦ä¸²å¤„ç†

In [11]:
from polars.datatypes import convert

int64_str = convert.dtype_to_ffiname(pl.Int64)
int64_str

'i64'

In [12]:
int64_dtype = convert.dtype_short_repr_to_dtype(int64_str)
int64_dtype == pl.Int64

True

2. ä½¿ç”¨ `Arrow` çš„ C æŒ‡é’ˆ

`Polars` çš„åº•å±‚ï¼ˆå‘é‡ï¼‰æ˜¯é€šè¿‡ Apache Arrow è¿›è¡Œå­˜å‚¨çš„ï¼Œå¦‚æœéœ€è¦è®¿é—®æŒ‡é’ˆçº§åˆ«çš„æ•°æ®å¯ä»¥é€šè¿‡å†…éƒ¨æ¥å£ `_export_arrow_to_c` / `_import_arrow_from_c` å®ç°

In [13]:
from pyext import simple
allocator = simple.SimpleAllocator([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
address = allocator.address_of()
simple.test(*address)

Export ok? 1
1
2
3
4
5
6
7
8
9
10

In [14]:
pl.Series("x", [11, 22])._export_arrow_to_c(*address)
simple.test(*address)

11
22